#card_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.card{
    min-height: 42vh;
    width: 280px;
    padding: 2vh;
    border: 2px solid var(--third_color);
    background-color: var(--header_color);
    border-radius: 20px;
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 15px rgba(255, 187, 0, 0.3);
    cursor: pointer;
}

.buttons{
    display: grid;
}

.card h2{
    margin-bottom: 10px;
    font-size: 2rem;
}
.card img{
    width: 40px;
}
.card button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;

    border-radius: 10px;
    border: solid 2px var(--second_color);

    background-color: var(--dark_color);
    color: var(--third_color);

    cursor: pointer;
    transition: 0.3s ease;
}

.card button:hover{
    background-color: var(--third_color);
    color: black;
    transform: scale(1.03);
}

.card span{
    color: red;
}

#fale_conosco{
    margin-top: 20px;
    padding: 10px 18px;

    border-radius: 10px;
    border: solid 2px var(--second_color);

    background-color: var(--dark_color);
    color: var(--third_color);
    transition: 0.3s ease;
}

#fale_conosco:hover{
    cursor: pointer;
    background-color: var(--header_color);
    transform: translateY(-3px);
    box-shadow: 0 0 12px rgba(255, 187, 0, 0.4);
}
